html {
    background-color: aliceblue;
    background-image: url("dog4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h2 {
    color: aquamarine;
}

main h1 {
    color: violet;
}

.titulo-aula {
    text-decoration: underline;
}

.texto-rosa {
    color: pink;
}

.texto-verde {
    color: green;
}

#primeira-aula {
    text-decoration: none;
}

.texto-rosa .comentario {
    color: aqua;
}

.texto-verde.comentario {
    color: yellow;
}